<mat-card>
    <mat-card-content>
        <h1>Add your packing items here</h1>

        <input type="text" #input>
        <button (click)="add(input.value)">Add Item</button>
        
        <!-- Funktioniert noch nicht / Wäre aber schöner als die obige liste, da nativ in Material -->
        <mat-selection-list #input >
            <mat-list-option [selected]="listitem.done" *ngFor="let listitem of packinglist" [value]="listitem.title" (click)="toggleDone(listitem)">
                {{ listitem.title }}
            </mat-list-option>
        </mat-selection-list>     
    </mat-card-content>
</mat-card>

