.delete-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.list-wrapping {
    height: auto;
    width: 100%;
}

.list-item {
    display: flex;
}

.list-item-content {
    display: flex;
    flex-direction: column;
}

